<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>VPDA Remote</title>

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.5/p5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.5/addons/p5.dom.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="/static/js/p5.speech.js"></script>
	<!-- <script src="/static/js/p5.sound.js"></script> -->
	
	<script>
	var myRec = new p5.SpeechRec(); // new P5.SpeechRec object
	let response;
	// var mic;
	var c = document.getElementById("myCanvas");
	function setup(){
		//graphics stuff:

			createCanvas(windowWidth, 500);
			background(225, 229, 237);
			fill(0, 0, 0, 255);

		//instructions:

			textSize(32);
			textAlign(CENTER);
			text("Say Something", width/2,height/2);
		myRec.onResult = showResult;
		let continuous = true;
		let interim = false;
		// mic = new p5.AudioIn();
		// mic.start();
		myRec.start(continuous,interim);
	}
	function showResult(){
		if(myRec.resultValue==true) {
			background(192, 255, 192);
			
			//text(myRec.resultString, width/2, height/2);
			response=myRec.resultString;
			textSize(32);
			text(response, width/2, height/2);
			//$("p").text(text);
			console.log(response);
			var status = false;
			
			$.ajax({
		    //url: "/employees/webapp/",
		    url: "/commands/webapp/",
		    type: "post", // or "get"
		    //data:{'firstname':text,'lastname':status,'emp_id':"10001"},
		    data:{'task':response,'done':status},
		    //data:[],
		    success: function(data) {
		    	//console.log(data);
		     
   		 }});




			$.ajax({
		    //url: "/employees/webapp/",
		    url: "/commands/webapp/",
		    type: "get", // or "get"
		    //data:{'firstname':text,'lastname':status,'emp_id':"10001"},
		    data:[],
		    //data:[],
		    success: function(data) {
		    	console.log(data);
		    	var i;
		    	var j=1;
				for (i = 0; i < data.length; i++) { 
				  
				  
				  var status = data[i]['done'];
				  
				  if (status == 'true'){
				  	if(j<=7){
				  		var temp="Task "+data[i]['task']+" is completed";
					  	console.log(temp)
					  	$("#"+j).text(temp)
					  	j=j+1;
				  	}
				  	else{
				  		j=1;
				  		var temp="Task "+data[i]['task']+" is completed";
					  	console.log(temp)
					  	$("#"+j).text(temp)
					  	j=j+1;

				  	}
				  	
				  }
				}


   		 }});


		}
	}
	function windowResized() {
  		resizeCanvas(windowWidth, windowHeight);
	}
	// function draw(){
	// 	background(0);
	// 	var vol = mic.getLevel();

	// 	ellipse(width/2, height/2,vol,vol);
	// }
</script>
</head>
<body>
	<div class="header">
	  <center>
	  <h3>VPDA REMOTE SYSTEM</h3>
	  </center>
	</div>
<br>
<div class="container">
	<div class="row">
		<p id="1" style="text-align: center;"></p>
		<p id="2" style="text-align: center;"></p>
		<p id="3" style="text-align: center;"></p>
		<p id="4" style="text-align: center;"></p>
		<p id="5" style="text-align: center;"></p>
		<p id="6" style="text-align: center;"></p>
		<p id="7" style="text-align: center;"></p>
		<!-- <textarea style="width: 200px;height: 150px;"></textarea> -->
	</div>
</div>
		

	
</body>
</html>